html {
  overflow-x: hidden;
}

body {
  margin-top: 36px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
}

#home h1 {
  font-size: 30px;
}

a {
  color: black;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-family: cooperblack;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.col {
  display: flex;
  flex-direction: column;
}

.arrived-logo {
  height: 25px;
}

.ischool-logo-sm {
  height: 25px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #47ce90;
}

#home h1 {
  margin-bottom: 0px;
}

#home p {
  margin-bottom: 36px;
  max-width: 550px;
}

.highlight {
  color: #6976e1;
  font-weight: bold;
}

.zoom-house-container {
  width: 300px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 36px;
}

.zoom-sm {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 0px;
}

.house-sm {
  position: absolute;
  width: 100%;
}

.spons-row h3 {
  margin-right: 10px;
}

#sponsor p {
  margin-top: 0px;
  padding-top: 0px;
}

.spons-how-p {
  color: #72d59c;
}

.spons-descr {
  margin-bottom: 32px;
  max-width: 500px;
}

.spons-container {
  width: 300px;
  height: 250px;
  background-color: #bbf3be;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.spons-num-container {
  width: 60px;
  height: 60px;
  background-color: #72d59c;
  border: solid 1px #72d59c;
  border-radius: 4px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-bottom: 16px;
}

.spons-num-container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 15px;
}

.spons-title {
  font-family: cooperblack;
  font-size: 32px;
  margin-bottom: 8px;
}

.spons-descr-2 {
  font-size: 18px;
}

.spons-title,
.spons-descr-2 {
  width: 90%;
  text-align: center;
}

#problem {
  background-color: #6976e1;
  width: 100%;
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#problem p,
#problem h2 {
  color: white;
  width: 90%;
  max-width: 500px;
}

.problem-sm {
  width: 50%;
  max-width: 250px;
  align-self: center;
  margin-top: 24px;
}

.problem-lg {
  visibility: hidden;
  width: 0px;
}

.problem-col-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-color: white;
  border-radius: 6px;

  width: 38%;
  max-width: 200px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;

  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
}

#solution {
  width: 100%;
}

#solution h2 {
  margin-bottom: 36px;
}

.solution-title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 18px;
}

.solution-para {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
  text-align: center;
}

.solution-block img {
  width: 40%;
  height: auto;
}

.solution-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  justify-content: space-around;
}

.solution-row-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#assistant {
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.mac-sm {
  width: 90%;
  height: auto;
  max-width: 500px;
}

#assistant-wide {
  visibility: hidden;
  height: 0px;
}

#assistant p,
#assistant h2 {
  color: white;
}

#assistant p {
  width: 80%;
  max-width: 500px;
}

#stack {
  margin-top: 0px;
  padding-top: 0px;
}

.tech-img {
  width: 100%;
  margin-bottom: 50px;
}

#video {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #333;
  width: 100%;
}

#video h2 {
  font-size: 24px;
  color: white;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 550px;
  border: 0;
}

#about-us {
  margin-top: 0px;
  padding-top: 0px;
}

.about-sm {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 100px;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.about-block {
  width: 100%;
  margin-bottom: 32px;
  max-width: 450px;
}

.about-block p {
  text-align: left;
}

.about-para {
  margin-top: 0px;
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

footer p {
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

@media (min-width: 700px) {
  .arrived-logo {
    height: 30px;
  }

  .ischool-logo-sm {
    height: 30px;
  }

  header {
    margin-left: 32px;
    margin-right: 32px;
  }

  #home h1 {
    font-size: 40px;
  }

  .zoom-house-container {
    width: 400px;
    height: 260px;
  }

  .zoom-sm {
    width: 110px;
  }

  #video {
    margin-bottom: 100px;
    padding-bottom: 100px;
  }

  #video h2 {
    font-size: 48px;
  }

  .tech-img {
    width: 75%;
    max-width: 850px;
  }
}

@media (min-width: 1000px) {
  .arrived-logo {
    height: 45px;
  }

  .ischool-logo-sm {
    height: 45px;
  }

  .line {
    margin-top: 16px;
    height: 7;
    width: 97%;
  }

  section {
    width: 90%;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #home h1 {
    font-size: 50px;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .zoom-house-container {
    width: 500px;
  }

  .zoom-sm {
    width: 150px;
    bottom: -90px;
  }

  h2 {
    font-size: 48px;
  }

  .spons-row-lg {
    margin-top: 32px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .spons-container {
    width: 250px;
    height: 250px;
    margin-bottom: 0px;
  }

  .spons-num-container {
    width: 50px;
    height: 50px;
  }

  .spons-descr {
    max-width: 800px;
  }

  .problem-img-container {
    visibility: visible;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .problem-col-lg {
    align-items: flex-start;
    width: 50%;
    max-width: 550px;
  }

  .problem-col-lg p,
  .problem-col-lg h2 {
    margin-bottom: 0px;
    text-align: left;
  }

  #problem p {
    max-width: 700px;
  }

  .problem-sm {
    visibility: hidden;
    width: 0px;
  }

  .problem-lg {
    visibility: visible;
    width: 300px;
    /* margin-left: 300px; */
  }

  #problem {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #solution h2 {
    margin-bottom: 50px;
  }

  #solution {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .solution-row-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    max-width: 1000px;
    height: 100%;
  }

  .solution-row {
    align-self: flex-start;
    flex-direction: row;
    width: 66%;
    margin-top: 0px;
  }

  .solution-block {
    width: 500px;
    height: 225px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .solution-block img {
    height: 35%;
    width: auto;
  }

  .solution-block p {
    margin-top: 16px;
  }

  .solution-title {
    font-size: 22px;
    margin-top: 32px;
  }

  .solution-para {
    margin-top: 0px;
    font-size: 18px;
  }

  #assistant {
    visibility: hidden;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #assistant-wide {
    visibility: visible;
    height: 85vh;
    background-color: #333;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #assistant-wide p {
    font-size: 18px;
    font-weight: 300;
  }

  #assistant-wide p,
  #assistant-wide h2 {
    color: white;
  }

  .about-block {
    margin-left: 16px;
    margin-right: 16px;
  }

  .ass-col {
    width: 20%;
  }

  .ass-col1 {
    margin-top: 70px;
  }

  .ass-col2 h2 {
    font-size: 42px;
  }

  .ass-col2 {
    width: 55%;
  }

  .ass-col3 {
    margin-top: 100px;
  }

  .mac-lg {
    width: 97%;
  }

  .ass-col-p2 {
    margin-bottom: 150px;
  }

  .about-title {
    font-size: 22px;
  }

  .about-para {
    font-size: 16px;
  }

  .about-us-wrap {
    margin-top: 48px;
    width: 105%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #next {
    margin-top: 0px;
    padding-top: 0px;
  }

  #next p {
    max-width: 800px;
  }

  footer p {
    font-size: 22px;
  }

  .ischool-logo-xs {
    width: 200px;
  }
}

@media (min-width: 1500px) {
  section {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .zoom-house-container {
    width: 600px;
  }

  .zoom-sm {
    top: 250px;
  }

  .problem-img-container {
    width: 40%;
    align-items: flex-end;
  }

  .problem-lg {
    width: 350px;
  }

  #solution {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #assistant-wide {
    height: 95vh;
  }

  #video {
    max-height: 750px;
  }
}
