body {
  margin-top: 36px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  font-family: cooperblack;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.col {
  display: flex;
  flex-direction: column;
}

.arrived-logo {
  height: 25px;
}

.ischool-logo-sm {
  height: 25px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #47ce90;
}

#home h1 {
  margin-bottom: 0px;
}

#home p {
  margin-bottom: 36px;
  max-width: 550px;
}

.highlight {
  color: #6976e1;
  font-weight: bold;
}

.zoom-house-container {
  width: 300px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 36px;
}

.zoom-sm {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 0px;
}

.house-sm {
  position: absolute;
  width: 100%;
}

#problem {
  width: 105%;
  background-color: #6976e1;
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#problem p,
#problem h2 {
  color: white;
  width: 90%;
  max-width: 500px;
}

.problem-sm {
  width: 50%;
  max-width: 250px;
  align-self: center;
  margin-top: 24px;
}

.problem-lg {
  visibility: hidden;
  width: 0px;
}

.problem-col-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-color: white;
  border-radius: 6px;

  width: 38%;
  max-width: 200px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;

  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
}

#solution h2 {
  margin-bottom: 36px;
}

.solution-title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 18px;
}

.solution-para {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
}

.solution-block img {
  width: 40%;
  height: auto;
}

.solution-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  justify-content: space-around;
}

.solution-row-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#assistant {
  background-color: #333;
  width: 105%;
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mac-sm {
  width: 100%;
  height: auto;
  max-width: 500px;
}

#assistant-wide {
  visibility: hidden;
  height: 0px;
}

#assistant p,
#assistant h2 {
  color: white;
}

#assistant p {
  width: 80%;
  max-width: 500px;
}

.about-sm {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 100px;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.about-block {
  width: 100%;
  margin-bottom: 32px;
  max-width: 450px;
}

.about-block p {
  text-align: left;
}

.about-para {
  margin-top: 0px;
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

footer p {
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

@media (min-width: 700px) {
  .arrived-logo {
    height: 30px;
  }

  .ischool-logo-sm {
    height: 30px;
  }

  header {
    margin-left: 32px;
    margin-right: 32px;
  }

  .zoom-house-container {
    width: 400px;
    height: 260px;
  }

  .zoom-sm {
    width: 110px;
  }
}

@media (min-width: 1000px) {
  .arrived-logo {
    height: 45px;
  }

  .ischool-logo-sm {
    height: 45px;
  }

  .line {
    margin-top: 16px;
    height: 7;
    width: 97%;
  }

  #home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 124px;
  }

  .lg-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 50px;
    width: 50%;
  }

  .lg-col p,
  .lg-col h1 {
    text-align: left;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .zoom-house-container {
    width: 500px;
  }

  .zoom-sm {
    width: 150px;
    bottom: -90px;
  }

  h2 {
    font-size: 55px;
  }

  #problem p {
    max-width: 700px;
  }

  .problem-sm {
    visibility: hidden;
    width: 0px;
  }

  .problem-lg {
    visibility: visible;
    width: 300px;
    margin-left: 300px;
  }

  #problem {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .problem-col-lg {
    align-items: flex-start;
    width: 35%;
  }

  .problem-col-lg p,
  .problem-col-lg h2 {
    text-align: left;
    margin-bottom: 0px;
  }

  #solution {
    width: 100%;
  }

  #solution h2 {
    margin-bottom: 100px;
  }

  .solution-row-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    max-width: 1000px;
    height: 100%;
  }

  .solution-row {
    align-self: flex-start;
    flex-direction: row;
    width: 66%;
    margin-top: 0px;
  }

  .solution-block {
    width: 500px;
    height: 225px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .solution-block img {
    height: 35%;
    width: auto;
  }

  .solution-block p {
    margin-top: 16px;
  }

  .solution-title {
    font-size: 22px;
    margin-top: 32px;
  }

  .solution-para {
    margin-top: 0px;
    font-size: 18px;
  }

  #assistant {
    visibility: hidden;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #assistant-wide {
    visibility: visible;
    height: auto;
    background-color: #333;
    width: 105%;

    margin-top: 36px;
    padding-top: 36px;
    padding-bottom: 72px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #assistant-wide p {
    font-size: 18px;
    text-align: left;
    font-weight: 300;
  }

  #assistant-wide p,
  #assistant-wide h2 {
    color: white;
  }

  .ass-col {
    width: 20%;
  }

  .ass-col1 {
    margin-top: 50px;
  }

  .ass-col3 {
    margin-top: 100px;
  }

  .mac-lg {
    width: 100%;
  }

  .ass-col-p2 {
    margin-bottom: 150px;
  }

  #about-us h2 {
    font-size: 36px;
  }

  .about-title {
    font-size: 22px;
  }

  .about-para {
    font-size: 16px;
  }

  .about-us-wrap {
    margin-top: 48px;
    width: 75%;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 150px;
  }

  footer p {
    font-size: 22px;
  }
}
