body {
  margin-top: 36px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  font-family: cooperblack;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.col {
  display: flex;
  flex-direction: column;
}

.arrived-logo {
  height: 25px;
}

.ischool-logo-sm {
  height: 25px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #47ce90;
}

#home h1 {
  margin-bottom: 0px;
}

#home p {
  margin-bottom: 36px;
}

.highlight {
  color: #6976e1;
  font-weight: bold;
}

.zoom-house-container {
  width: 90%;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 36px;
}

.zoom-sm {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 0px;
}

.house-sm {
  position: absolute;
  width: 300px;
}

#problem {
  width: 105%;
  background-color: #6976e1;
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#problem p,
#problem h2 {
  color: white;
  width: 90%;
}

.problem-sm {
  width: 50%;
  align-self: center;
  margin-top: 24px;
}

.solution-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-color: white;
  border-radius: 6px;

  width: 38%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;

  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.4);
}

#solution h2 {
  margin-bottom: 36px;
}

.solution-block p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.solution-title {
  font-weight: 500;
  font-size: 18px;
}

.solution-block img {
  width: 40%;
  height: auto;
}

.solution-row {
  margin-top: 32px;
  justify-content: space-around;
}

#assistant {
  background-color: #333;
  width: 105%;
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mac-sm {
  width: 100%;
  height: auto;
}

#assistant p,
#assistant h2 {
  color: white;
}

#assistant p {
  width: 80%;
}

.about-sm {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 100px;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.about-block {
  width: 100%;
}

.about-block p {
  text-align: left;
}

.about-para {
  margin-top: 0px;
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

footer p {
  font-size: 14px;
}

.bold {
  font-weight: 500;
}
